

.container {
  height: 100vh; /* Full screen height */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Prevent scroll */
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 100%;
  flex: 1; /* Fills available space */
  overflow-y: auto; /* If you want scroll *inside* the list */
}
