.container {
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

.home_container {
  position: relative;
  top: 80px;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
}

.margin_container{
  margin: 1rem;
}

.navbar {
  position: absolute;
}

/* White background for grid container */
.rdg {
  background-color: white !important;
  color: black;
  margin: 1rem;
}

/* White header cells */
.rdg-header-row {
  background-color: white !important;
  color: black;
  font-weight: bold;
}

/* White data rows */
.rdg-row {
  background-color: white !important;
  color: black;
}

/* Optional: Add border or shadow */
.rdg {
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1200px) {
  .home_container {
    width: 90%;
    margin: auto;
  }
}
