.home {
  display: flex;
  justify-content: center;
  width: 100%;
}

.center_container {
  width: auto;
}

.items_container {
margin: 1rem 0;
}


.add_doc form {
  display: flex;
  align-items: center;
  gap: 5px;
}

.items_searchbar{
  display: flex;
  align-items: center;
  gap: 10px;
}

.items_searchbar select{
  height: 100%;
}


.income_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin: 1rem 0;
  padding: 0;
}

.card_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.income_card img {

}

.card_left {
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 300px;
}

.card_name{
  font-weight: 700;
  text-transform: capitalize;
}

.card_right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.card_vertical,
.card_vertical_price {
  display: flex;
  flex-direction: column;
}

.card_vertical_price {
  min-width: 200px;
}


.card_bottom {
  width: 100%;
}

.card_bottom form {
  display: flex;
}

